* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

#hoverText {
    position: absolute;
    top: 16px;
    left: 16px;
    color: white;
    font-size: 14px;
    opacity: 0.5;
    pointer-events: none;
    display: none;
}
